.header{

    .active {
        border-bottom: 2px solid var(--secundary);
        height: 100%;
    }

    width: 100%;
    height: 60px;
    background-color: var(--primary);
    color: #EBE8ED;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 100px;

    #logo {
        font-size: 20px;
        font-weight: bold;
    }

    .navbar{
        display: flex;
        flex-direction: row;
        width: 27vw;
        margin-left: 10vw;
        justify-content: end;

        a {
            text-decoration: none;
            color: #EBE8ED;
            &:not(:first-child){
                margin-left: 2vw;
            }
            height: 60px;
            display: flex;
            align-items: center; 
            
        }
    }
}