<div>------------------- Um pequeno HelloWord</div>
<h1>
  {{HelloWord}}
</h1>
<div>------------------- o meu-primeiro-component</div>
<meu-primeiro-component></meu-primeiro-component>
<div>------------------- o meu-primeiro-component utilizando Angular CLI</div>
<app-meu-primeiro-cli></app-meu-primeiro-cli>
<div>-------------------Componente cursos importado a partir do cursos.module</div>
<app-cursos></app-cursos>
<div>-----------------------------Componente cursos detalhe, que foi criado dentro da pasta cursos
  e está declarado dentro de cursos.module, logo, eu posso chamar ele aqui dentro do app.component uma vez
  que eu importei o cursos.module dentro do app.module. Se eu nao tivesse exportado o curso-detalhe la no 
  cursos.module, eu nao poderia ter acessado aqui. Logo eu posso criar componentes privados para um modulo ou exporta-los tambem.
</div>
<app-curso-detalhe></app-curso-detalhe>
<h3>sobre o property biding</h3>
<app-data-binding></app-data-binding> 