<div class="pokemon-card">
    <div class="pokemon-card__img">
        <img src={{pokemon.image}} alt="">
        <div class="pokemon-card__number">
            N° {{pokemon.number}}
        </div>
        <div class="pokemon-card__name">
            {{pokemon.name}}
        </div>
        <div class="pokemon-card__types">
            <div class="pokemon-card__type" 
            [class] ="'pokemon-card__type--' + type.toLowerCase()" *ngFor="let type of pokemon.types">{{type}}</div>
            
        </div>
        

    </div>
</div>
